/*
!/extensions/
!/extensions/pi-permission-system/
!/extensions/pi-permission-system/**
!/extensions/subagent/
!/extensions/subagent/**
!/extensions/herdr-agent-state.ts
!/agents/
!/agents/**
!settings.json
