session/*
LM Studio
LM-Studio
obsidian
*/cache/*
*cache*
chromium/*
mozilla/*
gws/*
go/*
gcloud/*
kwinoutputconfig.json 
bluedevilglobalrc
gtk-*
gtkrc*
kdedefaults/*
kdeglobals
ksmserverrc
xsettingsd/xsettingsd.conf
Trolltech.conf
dconf/*
kconf_updaterc
gh/hosts.yml
